﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TestingApplication.Models.Test
@{
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Создать тест</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>Заполните данные для теста</h4></div>        
        <div class="panel-body">
            <form class="p-a-1" asp-action="CreateTest" method="post">
                <!--<input type="hidden" value="@ViewBag.AuthorID" name="AuthorID" />-->
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="TestName">Название теста</label>
                    <input class="form-control" asp-for="TestName" />
                    <span asp-validation-for="TestName" />
                </div>
                <div class="form-group">
                    <label asp-for="TestDescription">Описание</label>
                    <input class="form-control" asp-for="TestDescription" />
                    <span asp-validation-for="TestDescription" />
                </div>

                <div class="text-center">
                    <input type="submit" value="Создать"/>
                    
                </div>
            </form>
        </div>
    </div>
</body>