﻿
@{
    ViewBag.Title = "~/Views/Shared/_Layout.cshtml";
}
@model TestingApplication.Models.User
<h2>Хотите удалить этого пользователя ? </h2>

@using (Html.BeginForm())
{
    <input type="submit" value="Да" />
    <a class="btn btn-primary" asp-action="UserList">Отмена</a>
}