﻿
@{
    ViewBag.Title = "~/Views/Shared/_Layout.cshtml";
}
@model TestingApplication.Models.Test
<h2>Хотите удалить этот тест? </h2>

@using (Html.BeginForm())
{
    <input type="submit" value="Да" />
    <a class="btn btn-primary" asp-action="TestList">Отмена</a>
}