﻿@model TestingApplication.Models.User

@{
    ViewBag.Title = "EditUser";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new
                {
                    htmlAttributes = new { @class = "form-control" }
                })
                @Html.ValidationMessageFor(model => model.FirstName, "", new
                {
                @class = "text-danger"
                })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new
                {
                    htmlAttributes = new
                { @class = "form-control" }
                })
                @Html.ValidationMessageFor(model => model.LastName, "", new
                {
                    @class = "text-danger"
                })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BirthDate, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BirthDate, new
                {
                    htmlAttributes = new
                    {
                    @class = "form-control"
                    }
                })
                @Html.ValidationMessageFor(model => model.BirthDate, "", new
                {
                    @class = "text-danger"
                })
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                    
                    <select class="form-control" asp-for="RoleId">
                        <option value=1>Admin</option>
                        <option value=2>User</option>

                    </select>
                </div>  
            
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new
                {
                    htmlAttributes = new
                    {
                    @class = "form-control"
                    }
                })
                @Html.ValidationMessageFor(model => model.Email, "", new
                {
                    @class = "text-danger"
                })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new
                {
                    htmlAttributes = new
                    {
                    @class = "form-control"
                    }
                })
                @Html.ValidationMessageFor(model => model.Password, "", new
                {
                    @class = "text-danger"
                })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary" type="submit">Создать</button>
            </div>
        </div>
    </div>
}

