﻿@model TestingApplication.Models.Test

@{
    ViewBag.Title = "EditTest";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Test</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TestID)
        <div class="form-group">
            @Html.LabelFor(model => model.TestName, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TestName, new
                {
                    htmlAttributes = new { @class = "form-control" }
                })
                @Html.ValidationMessageFor(model => model.TestName, "", new
                {
                @class = "text-danger"
                })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TestDescription, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TestDescription, new
                {
                    htmlAttributes = new
                { @class = "form-control" }
                })
                @Html.ValidationMessageFor(model => model.TestDescription, "", new
                {
                    @class = "text-danger"
                })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AuthorID, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AuthorID, new
                {
                    htmlAttributes = new
                    {
                    @class = "form-control"
                    }
                })
                @Html.ValidationMessageFor(model => model.AuthorID, "", new
                {
                    @class = "text-danger"
                })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary" type="submit">Создать</button>
            </div>
        </div>
    </div>
}

