﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>TestList</title>
</head>
<body>
    <div class="panel-body">
        <h2>Список тестов</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>TestId</th>
                    <th>Название </th>
                    <th>Описание</th>
                    <th>Автор</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TestingApplication.Models.Test test in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => test.TestID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => test.TestName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => test.TestDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => test.AuthorID)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "EditTest", new { id = test.TestID })
                        @Html.ActionLink("Delete", "DeleteTest", new { id = test.TestID })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>



