﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>UserList</title>
</head>
<body>
    <div class="panel-body">
        <h2>Зарегистрированные пользователи</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>UserId</th>
                    <th>FirstName </th>
                    <th>LastName</th>
                    <th>Role</th>
                    <th>BirthDate</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TestingApplication.Models.User r in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => r.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => r.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => r.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => r.RoleId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => r.BirthDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => r.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => r.Password)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditUser", new { id = r.ID })                        
                        @Html.ActionLink("Delete", "DeleteUser", new { id = r.ID })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>


