﻿
<body>    
    <h2>Выберите тест</h2>
    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th>№</th>
                <th>Название теста</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Test t in ViewBag.Tests)
            {
            <tr>
                <td>@t.TestName</td>
                <td>@t.TestDescription</td>
                <td>@Html.ActionLink("Выбрать", "Testing",new { t = t.TestID })
            </tr>
            }
        </tbody>
    </table>

</body>
