﻿@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<div class="text-center">
    <h1 class="display-4">Добро пожаловать ПОЛЬЗОВАТЕЛЬ на страницу тестирования. Пожалуйста нажмите "Начать", когда будете готовы</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="btn btn-primary" asp-action="ChooseTest">Начать</a>
    <a class="btn btn-primary" asp-action="TestsResult">Ваши результаты</a>
</div>

