﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Responses</title>
</head>
<body>
    <div class="panel-body">
        <h2>Зарегистрированные пользователи</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>AnswerID</th>
                    <th>UserId </th>
                    <th>TestID</th>
                    <th>QuestionNumber</th>
                    <th>UserChoices</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (TestingApplication.Models.Answer r in Model)
                {
                    @ViewBag.Tests.Where
                <tr>
                    <td>@r.AnswerID</td>
                    <td>@r.TestID</td>
                    <td>@r.QuestionNumber</td>
                    <td>@r.UserID </td>
                    <td>@r.UserChoices</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>