﻿@model List<Answer>
@{

}
@using (Html.BeginForm())
{
    <h4>@ViewBag.Question?.QuestionText</h4>
    for (int i = 0; i < ViewBag.Choices.Count; i++)
    {
        @ViewBag.Choices[i].ChoiceText
        @: @Html.EditorFor(m => m[i].UserChoices)
    }
    <input type="submit" />
}
